/*
* buttons
*/

.fixed-size{
	width: 480px;
	height: 790px;
}

.wrapper-mobile{
	min-height: 100vh;

	.bg-dark{
		background-color: transparentize($black, .9);
	}
	// colores de containers
	&.purple{
		@include gradient-y(#5509C2, #3C0092, 0%, 100%);
	}
	&.green{
		@include gradient-y(#269800, #1B6C00, 0%, 100%);
	}
	&.red{
		@include gradient-y(#D60000, #A50002, 0%, 100%);
	}

}

.nav-mobile{
	nav.main-menu{
		text-align: right;
		li{
			a.nav-link{
				display: inline-block;
				color: $white;
				font-weight: 200;
				&:active,
				&.active{
					color: $white;
				}
				i{
					font-size: 111%;
				}
			}
		}

	}
	
	nav.top-menu{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		button{
			font-size: $font-size-lg;
			padding: .8rem;
			color: $white;
		}
	}
}

.container-mobile{
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	padding-bottom: 3rem;

	p.question{
			padding: 1.5rem 0;
			font-weight: 700;
			color: $white;
			font-size: $font-size-xl;
			line-height: 110%;
		}

		.options{
			//padding: 0 1.5rem;
			.btn-option,
			.btn{
				white-space: pre-wrap;
			}
			.btn-option{
				width: 100%;
				margin-bottom: 1.5rem;
				background-color: transparent;
				border: 2px solid $white;
				color: $white;
				font-weight: 400;
			}
		}


	.btn-row{
		.btn{
			mix-blend-mode: screen;
    		font-weight: 400;
		}
	}
}

$xl-size:	2;

.btn-xl {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($btn-padding-y-lg * $xl-size, $btn-padding-x-lg * $xl-size, $font-size-lg * $xl-size, $btn-border-radius-lg / $xl-size);
}
