/*
* buttons
*/

.fixed-size{
	width: 480px;
	height: 790px;
}

.container-mobile{

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	min-height: 100vh;

	.bg-dark{
		background-color: transparentize($black, .9);
	}
	// colores de containers
	&.purple{
		@include gradient-y(#5509C2, #3C0092, 0%, 100%);
	}
	&.green{
		@include gradient-y(#269800, #1B6C00, 0%, 100%);
	}
	&.red{
		@include gradient-y(#D60000, #A50002, 0%, 100%);
	}

	nav.main-menu{
		text-align: right;
		li{
			a.nav-link{
				display: inline-block;
				color: $white;
				font-weight: 200;
				&:active,
				&.active{
					color: $white;
				}
				i{
					font-size: 111%;
				}
			}
		}

	}
	
	nav.top-menu{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		button{
			font-size: $font-size-lg;
			padding: .8rem;
			color: $white;
		}
	}
	


	p.question{
			padding: 1.5rem 1.5rem 0 1.5rem;
			font-weight: 700;
			color: $white;
			font-size: $font-size-xl;
			line-height: 110%;
		}

		.options{
			padding: 0 1.5rem;
			.btn-option,
			.btn{
				white-space: pre-wrap;
			}
			.btn-option{
				width: 100%;
				margin-bottom: 1rem;
				border-radius: 1.75rem !important;
				background-color: transparent;
				border: 2px solid $white;
				color: $white;
				font-weight: 400;
			}
		}


	.btn-row{
		padding: 0 1.5rem 1.5rem 1.5rem;
		display: flex;
		justify-content: space-between;
	}

	.btn{
		mix-blend-mode: screen;
		display: flex-item;
		
		&.btn-round{
			@include size(6rem, 6rem);
			border-radius: 50% !important;
			padding: 1.3rem 0px;
    		font-size: 2.5rem;
    		font-weight: 400;
		}


	}
}


