//$icomoon-font-path: "../fonts/" !default;

$icon-arrow-down: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-arrow-up: "\e903";
$icon-box: "\e904";
$icon-check-circle: "\e905";
$icon-check: "\e906";
$icon-comment-circle: "\e907";
$icon-headphones: "\e908";
$icon-heart: "\e909";
$icon-life-buoy: "\e90a";
$icon-more-vertical: "\e90b";
$icon-power: "\e90c";
$icon-star: "\e90d";
$icon-toggle-left: "\e90e";
$icon-toggle-right: "\e90f";
$icon-user-minus: "\e910";
$icon-user-plus: "\e911";
$icon-user: "\e912";

