//$icomoon-font-path: "../fonts/" !default;

$icon-activity: "\e913";
$icon-alert-circle: "\e914";
$icon-alert-octagon: "\e915";
$icon-alert-triangle: "\e916";
$icon-anchor: "\e917";
$icon-arrow-down: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-arrow-up: "\e903";
$icon-award: "\e918";
$icon-bell-off: "\e919";
$icon-bell: "\e91a";
$icon-bluetooth: "\e93a";
$icon-box: "\e904";
$icon-briefcase: "\e93b";
$icon-camera: "\e93c";
$icon-check-circle: "\e905";
$icon-check: "\e906";
$icon-chevron-down: "\e91b";
$icon-chevron-left: "\e91c";
$icon-chevron-right: "\e91d";
$icon-chevron-up: "\e91e";
$icon-circle: "\e91f";
$icon-clipboard: "\e93d";
$icon-clock: "\e920";
$icon-cloud-off: "\e93e";
$icon-cloud: "\e93f";
$icon-cog: "\e921";
$icon-comment-circle: "\e907";
$icon-comment-square: "\e922";
$icon-crosshair: "\e940";
$icon-download: "\e923";
$icon-edit: "\e941";
$icon-eye-off: "\e924";
$icon-eye: "\e925";
$icon-facebook: "\e926";
$icon-file: "\e942";
$icon-flag: "\e927";
$icon-globe: "\e943";
$icon-headphones: "\e908";
$icon-heart: "\e909";
$icon-home: "\e944";
$icon-image: "\e945";
$icon-info: "\e928";
$icon-instagram: "\e929";
$icon-layers: "\e946";
$icon-layout: "\e947";
$icon-life-buoy: "\e90a";
$icon-loader: "\e948";
$icon-location: "\e949";
$icon-lock: "\e94a";
$icon-mail: "\e94b";
$icon-map-pin: "\e94c";
$icon-map: "\e94d";
$icon-maximize-2: "\e94e";
$icon-menu: "\e94f";
$icon-mic-off: "\e92a";
$icon-mic: "\e92b";
$icon-minus: "\e950";
$icon-moon: "\e951";
$icon-more-horizontal: "\e952";
$icon-more-vertical: "\e90b";
$icon-music: "\e92c";
$icon-octagon: "\e92d";
$icon-pause: "\e92e";
$icon-phone-call: "\e92f";
$icon-phone-forwarded: "\e953";
$icon-phone-incoming: "\e954";
$icon-phone-missed: "\e955";
$icon-phone-off: "\e930";
$icon-phone-outgoing: "\e931";
$icon-play: "\e932";
$icon-plus: "\e956";
$icon-power: "\e90c";
$icon-refresh-ccw: "\e933";
$icon-rotate-ccw: "\e957";
$icon-rotate-cw: "\e958";
$icon-scissors: "\e959";
$icon-search: "\e934";
$icon-share: "\e935";
$icon-shuffle: "\e95a";
$icon-slash: "\e95b";
$icon-square: "\e95c";
$icon-star: "\e90d";
$icon-target: "\e95d";
$icon-thermometer: "\e95e";
$icon-thumbs-down: "\e936";
$icon-thumbs-up: "\e937";
$icon-toggle-left: "\e90e";
$icon-toggle-right: "\e90f";
$icon-twitter: "\e95f";
$icon-umbrella: "\e960";
$icon-unlock: "\e961";
$icon-user-minus: "\e910";
$icon-user-plus: "\e911";
$icon-user: "\e912";
$icon-video-off: "\e962";
$icon-video: "\e963";
$icon-watch: "\e938";
$icon-x-circle: "\e964";
$icon-x-square: "\e965";
$icon-x: "\e939";
$icon-zap: "\e966";
$icon-zoom-in: "\e967";
$icon-zoom-out: "\e968";