@import "variables";


@font-face {
  font-family: 'win-icons';
  src:  url('#{$wf-path}/win-icons/win-icons.eot?89qyaf');
  src:  url('#{$wf-path}/win-icons/win-icons.eot?89qyaf#iefix') format('embedded-opentype'),
    url('#{$wf-path}/win-icons/win-icons.ttf?89qyaf') format('truetype'),
    url('#{$wf-path}/win-icons/win-icons.woff?89qyaf') format('woff'),
    url('#{$wf-path}/win-icons/win-icons.svg?89qyaf#win-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*
@font-face {
  font-family: 'win-icons';
  src:  url('../fonts/win-icons/win-icons.eot?89qyaf');
  src:  url('../fonts/win-icons/win-icons.eot?89qyaf#iefix') format('embedded-opentype'),
    url('../fonts/win-icons/win-icons.ttf?89qyaf') format('truetype'),
    url('../fonts/win-icons/win-icons.woff?89qyaf') format('woff'),
    url('../fonts/win-icons/win-icons.svg?89qyaf#win-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'win-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-box {
  &:before {
    content: $icon-box;
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-comment-circle {
  &:before {
    content: $icon-comment-circle;
  }
}
.icon-headphones {
  &:before {
    content: $icon-headphones;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-life-buoy {
  &:before {
    content: $icon-life-buoy;
  }
}
.icon-more-vertical {
  &:before {
    content: $icon-more-vertical;
  }
}
.icon-power {
  &:before {
    content: $icon-power;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-toggle-left {
  &:before {
    content: $icon-toggle-left;
  }
}
.icon-toggle-right {
  &:before {
    content: $icon-toggle-right;
  }
}
.icon-user-minus {
  &:before {
    content: $icon-user-minus;
  }
}
.icon-user-plus {
  &:before {
    content: $icon-user-plus;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}

